.header{
  display: grid;
  grid-area: header;
  grid-template-columns: 2fr 6fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  padding: 10px 0;
}
.logo{
  color: #e04533;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 6px;
}
.homeLink{
  display: flex;
  align-items: center;
}

.profileLink{
  margin-left: 30px;
}

.loginBlock{

}
.logOutBtn{
  border: none;
  background: #e04533;
  padding: 7px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}