/* GLOBAL STYLES */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}
html.lock,
body.lock {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  background-color: #f1f1f1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-auto-rows: min-content;
  grid-gap: 30px;
  grid-template-areas:
  'header header'
  'sidebar content'
}




